#header{
	height: 100%;
	background-color: #5d5d5d;
	z-index: 0;
}

#main-content{
	height: 300px;
	background-color: $black;
	z-index: 0;
}

#bizolhadis{
	height: 300px;
	background-color: $primary-color;
	z-index: 0;
}

#midis{
	height: 300px;
	background-color: $black;
	z-index: 0;
}

#footer{
	height: 300px;
	background-color: $gray;
	z-index: 0;
}

#menu{
	height: 60px;
	background-color: $gray;
	position: fixed;
	bottom: 0;
	z-index: 999;
}

.ad-space{
	height: rem-calc(140);
	background-color: $gray;
	z-index: 0;
}
