#header{
	height: 100%;
	z-index: 0;
	background-color: #5d5d5d;
	background-image: url(../img/bg_home.jpg);
	background-position: center;
	background-repeat: no-repeat;
	text-align: right;
	> .row{
		height: 100% !important;
	}
	.title{
		margin: auto 0;	
		h1{
			.mussum{
				font-family: $glegoo;
				color: $white;
				display: block;
				font-size: rem-calc(80);
				line-height: rem-calc(70);
				@include breakpoint(small only) {
					font-size: rem-calc(60);
					text-align: center;
				}				
			}
			.ipsum{
				font-family: $gochi-hand;
				color: $primary-color;			
				display: block;
				font-size: rem-calc(80);
				letter-spacing: rem-calc(4);
				padding-right: rem-calc(20);
				margin-top: rem-calc(-28);
				line-height: rem-calc(60);
				margin-top: 0;
				@include breakpoint(small only) {
					font-size: rem-calc(60);
					text-align: center;
				}
			}
		}
		h2{	
			color: $secondary-color;
			font-size: rem-calc(22);
			line-height: rem-calc(22);
			@include breakpoint(small only) {
				color: $light-gray;
				text-align: center;
				font-weight: bold;
				font-size: rem-calc(18);
			}
		}
	}
}

#main-content{
	margin: 60px 0;
	min-height: 200px;
	background-color: $black;
	z-index: 0;
	#mipsum{
		height: auto;
		width: 100%;
		float: left;
		#turns{
			width: 80px;
			float: left;
			font-size: 18px;
			font-weight: $bold;	
			background: $secondary-color;
			color: $white;
			border: none;
			text-align: center;	
			margin: 0 10px;
		}
		.text{
			width: auto;
			float: left;
			font-size: 16px;
			font-weight: $bold;
			line-height: 40px;
		}
		#mIpsumTrigger{
			float: right;
			color: $black;
			font-weight: bold;
		}
	}
	#result{
		width: 100%;
		float: left;
		background-color: $white;
		padding: 20px;
		max-height: 300px;
		overflow-y: scroll; 
		color: $secondary-color;
		font-size: 16px;
		font-weight: bold;
	}
}

#bizolhadis{
	height: 400px;
	background-color: $primary-color;
	z-index: 0;
}

#midis{
	padding: 60px 0;
	min-height: 160px;
	background-color: $black;
	z-index: 0;
	.box{
		max-width: 200px;
		margin: 0 auto;
		margin-bottom: 20px; 
	}
}

#footer{
	padding: 30px 0;
	min-height: 100px;
	background-color: $secondary-color;
	z-index: 0;
	.credits{	
		color: $light-gray;
		font-size: 14px;
		font-weight: bold;
	}
}

#menu{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	height: 60px;
	width: 100%;
	background-color: $secondary-color;
}

.ad-space{	
	height: auto;
	background-color: $secondary-color;
	z-index: 0;
	padding: 20px 0;
    overflow: hidden;		
	.banner{
	    position: relative;
	    float: none;
	    width: 100%;
	    max-width: 100%;
	    height: auto;
	    overflow: hidden;		
	}
}
