#header{
	height: 100%;
	z-index: 0;
	background-color: #5d5d5d;
	background-image: url(../img/bg_home.png);
	background-position: center;
	background-repeat: no-repeat;
	text-align: right;
	> .row{
		height: 100% !important;
	}
	.title{
		margin: auto 0;	
		h1{
			.mussum{
				font-family: $glegoo;
				color: $white;
				display: block;
				font-size: rem-calc(80);
				line-height: rem-calc(70);
			}
			.ipsum{
				font-family: $gochi-hand;
				color: $primary-color;			
				display: block;
				font-size: rem-calc(80);
				letter-spacing: rem-calc(4);
				padding-right: rem-calc(20);
				margin-top: rem-calc(-28);
				line-height: rem-calc(60);
				margin-top: 0;
			}
		}
		h2{	
			color: $dark-gray;
			font-size: rem-calc(22);
			line-height: rem-calc(22);
		}
	}
}

#main-content{
	margin: 60px 0;
	min-height: 200px;
	background-color: $black;
	z-index: 0;
	#mipsum{
		height: auto;
		width: 100%;
		float: left;
		#turns{
			width: 80px;
			float: left;
			font-size: 18px;
			font-weight: $bold;	
			background: $secondary-color;
			color: $white;
			border: none;
			text-align: center;	
			margin: 0 10px;
		}
		.text{
			width: auto;
			float: left;
			font-size: 16px;
			font-weight: $bold;
			line-height: 40px;
		}
		#mIpsumTrigger{
			float: right;
			color: $black;
			font-weight: bold;
		}
	}
	#result{
		width: 100%;
		float: left;
		background-color: $white;
		padding: 20px;
		max-height: 300px;
		overflow-y: scroll; 
		color: $secondary-color;
		font-size: 16px;
		font-weight: bold;
	}
}

#bizolhadis{
	height: 400px;
	background-color: $primary-color;
	z-index: 0;
}

#midis{
	height: 220px;
	background-color: $black;
	z-index: 0;
}

#footer{
	height: 120px;
	background-color: $dark-gray;
	z-index: 0;
}

#menu{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	height: 60px;
	width: 100%;
	background-color: $dark-gray;
}

.ad-space{
	height: rem-calc(140);
	background-color: $dark-gray;
	z-index: 0;
}
