@import url(https://fonts.googleapis.com/css?family=Gochi+Hand|Glegoo:400,700);

// font-family
$gochi-hand: 'Gochi Hand', cursive;
$glegoo: 'Glegoo', serif;

// font-weight
$regular: 400;
$light: 300;
$bold: 700;