{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="fb:app_id" content="392694137469037">
    <meta property="og:locale" content="pt_BR">

    <link rel="canonical" href="http://mussumipsum.com/">
    <meta property="og:url" content="http://mussumipsum.com/">

    <meta property="og:type" content="website">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image" content="http://mussumipsum.com/assets/img/mussum-ipsum-800x600.jpg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">

    <meta name="description" content="O gerador de Mussum Ipsum mais usadis por quem quer usar o um Mussum Ipsum, cacilds vidis litro abertis.">
    <meta property="og:description" content="O gerador de Mussum Ipsum mais usadis por quem quer usar o um Mussum Ipsum, cacilds vidis litro abertis.">

    <meta property="og:title" content="Mussum Ipsum - O melhor lorem ipsum do mundis">
    <title>Mussum Ipsum - O melhor lorem ipsum do mundis</title>

    {{> favicons}}
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>


    <!-- GA-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34005177-3', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- #GA-->
  </body>
</html>
